@charset "utf-8";

.rwd-bg {
  background-color: yellow;  
  background-image: url("../images/medium.jpg");
  background-repeat: no-repeat;
  /* background-size: contain; 높이 기준으로 이미지 비율이 조정됨 */
  background-size: 100% 100%; /* 노란색 배경만큼 이미지가 늘어나도록, 브라우저 사이즈에 맞춰 가득차게 늘었다 줄었다 보여짐 */
  width: 100%;
  height: 0 !important;
  padding-top: calc(768/1024*100%);  /* 높이가 100% 일때 가로세로 비율로 보여줌 : 자동 계산기 기능 */
}