@charset "utf-8";
@import url(normalize.css);
@import url(fonts.css);
/* 박스 공통 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 숨김 콘텐츠 - 별도 디자인 하지 않고 css처리함, 모든 브라우저에서 커버 가능함 */
legend, .a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0); /* 가로,세로 1px로 영역을 잡아두지만(포커싱 가능한 상태), 실제로 보이지 않게 숨김 처리함 */
}
/* clearfix - float 이슈를 해결하기 위한 클래스 모듈 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* 하이퍼 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}
/* 본문 스타일 */
html{
  font-size: 10px;
}
body{
  /* font-size: 1.6rem; */
  color: #181818;
  font-family: 'Noto Sans Regular', sans-serif;
}
/* 가상 요소를 활용한 그리드 설정 */
/* body::after{
  content: "가상요소를 활용하여 추가한 텍스트";
  background: repeating-linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,0,0,0.5) 65px, transparent 65px, transparent 85px),
              repeating-linear-gradient(to bottom, rgba(0,0,255,0.5), rgba(0,0,255,0.5) 1px, transparent 1px, transparent 16px);
  background-color: transparent;
  color: #fff;
  width: 1000px;
  height: 100vh;
  transform: translateX(-50%);
  position: absolute;
  top:0;
  left: 50%;
} */
/* 공통 반응형 콘텐츠 */
.rwd-img{
  max-width: 100%;
  height: auto;
}
.rwd-video{
  width: 100%;
  height: auto;
}
.rwd-iframe{
  position: relative;
  width: 100%;
  height: 0 !important;
  padding-top: cals(315/560*100%);
}
.rwd-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 공통 레이아웃 */
.header, .navigation, .main, .footer{
  width: 100%;
}
/* 공통 검색폼 */
input[name="search"]{
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 5px 5px 5px 10px;
}
/* 공통 메인 */
/* 공통 메인 섹션 */
.main > section{
  margin-top: 20px;
}
/* 공통 메인 섹션 제목 */
.section-heading{
  font-size: 1.3em;
  font-family:"Noto Sans Bold"; 
  background: url("images/sprite_main.png") no-repeat;
  height: 60px;
  padding-left: 60px;
  /* text-indent: 60px; 텍스트 들여쓰기 */  
}
.en-heading {
  display: block;
  text-transform: capitalize; /* 단어 첫글자만 대문자로(공백으로 구분) */
  /* font-variant: small-caps; 소문자 크기 그대로 대문자로 표시 */
}
.recommend-book-heading .en-heading{
  color: #abd375;
}
.news-heading .en-heading{
  color: #e8ca58;
}
.board-heading .en-heading{
  color: #c7b39a;
}
.favorite-site-heading .en-heading{
  color: #F19333;
}
.twitter-heading .en-heading{
  color: #44ADED;
}
.news-heading{ /* 하나의 배경이미지에서 여러 이미지 사용할 경우 위치값 지정 */
  background-position: 0 -230px;
}
.board-heading{
  background-position: 0 -115px;
}
.favorite-site-heading{
  background-position: 0 -345px;
}
.twitter-heading{
  background-position: 0 -460px;
}
/* 공통 메인 섹션 문단-특정요소 속성 구분하는 값  */
.main [class$="-summary"]{
  line-height: 1.5;
}
/* 공통 추천 서적 */
.recommend-book-cover{
  text-align: center;
  margin: 10px auto;
}
.recommend-book-detail{
  text-align: center;
}
.recommend-book-author .recommend-book-author-name{
  display: inline;
}
.recommend-book-grade{
  font-size: 1.8em;
  color: #abd375;
}
/*공통 새소식 */
.news-container{
  margin: 20px 0;
}
.news-date{
  display: block;
  text-align: right;
  line-height: 10px;
}
/* 공통 게시판 */
.board {
  position: relative;
}
.board-list{
  margin-top: 20px;
}
.board-list li{
  display: flex;
  justify-content: space-between;
}
.board-list a{
  width: calc(100% - 100px); /* 크롬에서 왜 안먹지? 추후 점검하기 */
  white-space: nowrap; /* block모델 일때만 사용 가능 */
  overflow: hidden; /* 내가 정한 사이즈 내에서만 보여줘 */
  text-overflow: ellipsis; /* 텍스트 말줄임표  세가지가 함께 쓰였을때 효과가 나타남 */ 
}
.board-more{
  position: absolute;
  top: 0;
  right: 0;
}
.board-more::before{
  color: hsla(100, 50%, 60%, 1);
}
/* 공통 인기사이트 */
.favorite-site-list{
  margin-top: 20px;
  overflow: hidden;  /* 리스트 숫자 가리기 위함 */
  counter-reset: 0;
}
.favorite-site-list li{
  counter-increment: number;
  margin-top: 10px;
}
.favorite-site-list li::before{
  content: counter(number,decimal); /* 모든 리스트 앞에 로마자 1234로 표시해라 */
  background-color: #eea60a;
  color: #fff;
  padding: 0 .5em;
  margin-right: 1em;
  border-radius: 50%;
}
/* 공통 트위터 */
.twitter{
  
}
.twitter-wrap{
  position: relative;
  padding-right: 25%;
  /* min-height: 25%;  내용이 동적으로 바뀔 수 있으므로 높이 고정값 지정 */
}
.twitter-user-info{
  margin-top: 20px;
}
.twitter-user-name, .twitter-user-id{
  display: inline;
}
.twitter-user-name{
  color: #6aae66;
}
.twitter-user-id{
  font-weight: bold;
}
.twitter-profile{
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  padding-left: 1em;
}
.twitter-thumbnail{
  border: 1px solid #000;
  padding: 5px;
  border-radius: 50%;
}
.twitter-summary{
  margin: 10px 0;
}
.twitter-date{
  display: block;
  text-align: right; 
}
/* 공통 푸터 */
.footer{
  background: #988574;
  padding: 15px 20px;
  color: #fff;
}
.address{
  margin-bottom: 15px;
}

@media screen and (max-width: 999px){
  /* 모바일 그리드 설정 - 4col */
  .grid-show{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 0px repeat(4, 1fr) 0px;
    grid-template-rows: 100vh;
    grid-column-gap: 20px;
  }
  .grid-show .grid-unit:nth-child(1), 
  .grid-show .grid-unit:nth-child(6){
    width: 0;
  }
  .grid-show .grid-unit{
    background-color: rgba(0,0,255,0.5);
  }
  /* 모바일 바디 */
  body{
    font-size: 1.4rem;
  }
  /* 모바일 헤더 */
  .header{
    background: #38302e;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
  /* 모바일 로고 */
  .logo{
    padding: 10px 0;
  }
  .logo img{  /* 이미지가 가지고 있는 아래 여백 제거하기 위해 block로 변환시켜 줌 */
    display: block;
  }
  /* 모바일 안내링크 */
  .member{
    display: flex;
    justify-content: flex-end;
    background: #988574;
    margin: 0 -20px;
    order: -1;
    padding: 10px 20px;
  }
  .member a{
    color: #fff;
    margin-left: 1em;
  } 
  /* 모바일 검색폼 */
  .search-form {
    padding-bottom: 10px;
  }
  .search-form fieldset{
    font-size: 0;
  }
  .search-form * {
    font-size: 1.6rem;
  }
  input[name="search"]{
    width: calc(100% - 40px);  /*연산기호 앞,뒤로 공백 1칸씩 필요 */
  } 
  .btn-search {
    position: relative;
    width: 30px; 
    height: 30px;
    border: 0;
    padding: 0;
    margin-left: 10px;
    background: transparent;
  }
  .btn-search::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background: url("images/btn_search.png");
    background-size: 100% 100%;
    cursor: pointer;
  }
  /* 모바일 내비게이션 */
  .nav-container {
   
  }
  /* 모바일 메인메뉴 제어버튼 */
  .btn-menu {
    width: 30px;
    height:30px;
    border: 0;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
  }
  .menubar {
    position: absolute;
    width: 100%;
    height: 20%;
    background: #fff;  
    left: 0;  
    transition: all 100ms;
  }
  .menubar-top {
    top: 0;
  }
  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-bottom {
    top: 100%;
    transform: translateY(-100%);
  }
  .btn-menu-act .menubar-top {
    top: 50%; /* 막대 위치를 중심으로 옮김 */
    transform: translateY(-50%) rotate(-45deg); /* 회전 중심값 -50으로 이동 45도 회전 */
  }
  .btn-menu-act .menubar-middle {
    transform: translate(-100%, -50%);
  }
  .btn-menu-act .menubar-bottom {
    top: 50%; /* 막대 위치를 중심으로 옮김 */
    transform: translateY(-50%) rotate(45deg); /* 회전 중심값 -50으로 이동 45도 회전 */
  }
  /* 모바일 메인메뉴  */
  .menu {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    padding: 20px;
    transform: translateX(-100%);
    transition: all 200ms;
  }
  .menu-act {
    transform: translateX(0) !important;
  }
  .menu-item {
    margin: 10px 0;
  }
  .sub-menu {
    display: none;
  }
  .menu-item-act .sub-menu {
    display: block !important;
  }
  .sub-menu li {
    margin: 10px 0 10px 20px;
  }
  /* 모바일 메인 */
  .main {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  /* 모바일 추천서적 */
  .recommend-book-cover{ /* 영역에서 이미지 70%로 보여지게 */
    width: 70%;
  }
  /* 모바일 트위터 */
  .twitter-wrap{
    min-height: 125px;
  }
  .twitter-profile{
    text-align: 
  }
  /* 모바일 슬로건 */
  .slogan {
    display: none;
  }
  /* 모바일 푸터 */
  .address{
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  /* 데스크탑 그리드 - 12col */
  .grid-show{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: 100vh;
    grid-column-gap: 20px;
  }
  .grid-show .grid-unit{
    background-color: rgba(255,0,0,0.5);
  }
  /* 데스크탑 바디 */
  body{
    font-size: 1.6rem;
  }
  /* 웹카페 데스크탑 레이아웃 */
  .header,
  .navigation,
  .main,
  .slogan,
  .footer {
    width: 1000px;
    margin: 0 auto;
  }
  /* 데스크탑 헤더 */
  .header {
    position: relative;
  }
  /* grid 기법으로 하는 경우  
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: 50px 50px;
    grid-column-gap: 20px;
    align-items: center;
  } */
  /* 데스크탑 로고 */
  .logo{
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
  }
  /* 데스크탑 안내링크 */
  /* .member li::before{
    content: "첫번째 상자"; 
  } */
  .member {
    grid-column: 9/ span 4;
    position: relative;
    right : -16px;
    font-size: 0;
    text-align: right;
  }
  .member li{
    display: inline-block;
    font-size: 1.6rem;
  }
  .member li:nth-child(-n+2)::after{
    content: "|"; 
  }
  .member a{
    display: inline-block;
    padding: 10px 1em;
  }

  /* 데스크탑 검색폼 */
  .search-form{
    grid-column: 7/ span 6;
    grid-row: 2;
    justify-self: end;
    padding: 10px 0;
  }
  .search-form fieldset{
    float: right;
  }
  input[name="search"]{
    width: 400px;
  }
  .btn-search {
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #988574;
    color: #fff;
    padding: 5px 10px;
  }
  /* 데스크탑 내비게이션 */
  .nav-container {
    background-color: #988574;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.85), 0 2px 5px 0 rgba(0,0,0,0.85); /* 위 아래 라인에 블러 효과 */
  }
  .navigation {
    
  }
  .btn-menu {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px 0;
  }
  .menu-item-text {
    font-size: 1.8rem;
    font-family: 'Noto Sans Bold';
    text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000; /* 사방으로 그림자값 이동=글자 테두리형태로 생김, 셰도우로 한방향 그라데이션도 가능 */
  } 
  .sub-menu li {
    margin: 10px 0 0 20px;
  }
  /* 데스크탑 메인 콘텐츠 */
  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main > *{
    flex: auto 0 1;
  }
   /* 데스크탑 추천서적 */
  .recommend-book{
    flex-basis: 320px;
  }
  .recommend-book-cover{
    width: 60%; /* 영역에서 이미지가 60%로 보여지게 */
  }
  .news{
    flex-basis: 660px;
  }
  .board{
    width: 320px;
    /* flex-basis: 320px; white-space사용할 경우 플렉스 베이시스 사용할 수 없음 */
  }
  .favorite-site{
    flex-basis: 235px;
    order: 1;
  }
  .twitter{
    flex-basis: 405px;
  }
  .twitter-wrap{
    min-height: 100px;
  }
  /* 데스크탑 슬로건 */
  .slogan{
    background: yellow;
  }
  .slogan-heading{
    width: 110px;
    height: 83px;
    background: pink;
    position: absolute;
    left: 35px;
    bottom: -25px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .slogan-heading::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/coffee.png") no-repeat;
  }
  .slogan-content{
    padding: 10px 50px 10px 150px;
  }
  .slogan-content q{
    font-weight: 700;
  }
  .slogan-content q::before{
    content: "";
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    top: 10px;

  }
  /* 데스크탑 푸터 */
  .footer-container {
    background-color: #988574;
  }
  .footer {
    text-align: center;
  }
}