@charset "utf-8";

body {
  margin: 50px;
}
.btn{
  margin-bottom: 50px;
}
.box {
  width: 300px;
  height: 300px;
  border: 10px solid #000000;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 500ms 0 ease, background 1000ms 500ms ease-in, transform 500ms 1000ms ease-in-out;
  /* transition-property: border-radius, background, transform;
  transition-duration: 500ms, 1000ms, 500ms;
  transition-delay: 0ms, 500ms, 1000ms;
  transition-timing-function: cubic-bezier(.07,.26,.84,-0.92); */
}
.box-act { /* 동적 가상 클래스 */
  border-radius: 50%;
  background: pink;
  transform: rotate(360deg) scale(0.5);
}